Repository akanksha1331/Hacktoberfest23, pull requests merged in 2023-10, with the labels that each got.

#40 Update PrintFibonacci.java
  DSA_CP/PrintFibonacci.java
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Open Source for beginners

#41 Create Teleporters_Path.cpp
  DSA_CP/Teleporters_Path.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#42 Create Hamiltonian_Flights.cpp
  DSA_CP/Hamiltonian_Flights.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#43 Create Building_Roads.cpp
  DSA_CP/Building_Roads.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#44 CardPlayer
  DSA_CP/cardplayer.java
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#45 Rotten Oranges
  DSA_CP/RottenOranges.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#46 Create SwimInRisingWater.cpp
  DSA_CP/SwimInRisingWater.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#47 Update LIS.cpp
  DSA_CP/LIS.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#48 Create string_to_int.java
  DSA_CP/string_to_int.java
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#54 CocktailSort
  DSA_CP/Bogo.java
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#49 Sqrt of a Number
  DSA_CP/FindSqrt.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#52 Binary Tree Max Path Sum
  DSA_CP/MaxPath.java
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#51 Reverse Singly Linked List
  DSA_CP/ReverseSinglyLinkedList.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, Open Source for beginners

#50 Set Rightmost Unset Bit
  DSA_CP/SetRightmostUnsetBit.cpp
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#57 Create Tic-Tac-Toe.java
  Games_Tools/Tic-Tac-Toe.java
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Open Source for beginners, Game

#59 Created a java program to check whether the array is sorted or not
  DSA_CP/CheckSorted.java
  DSA_CP/sortedarray.class
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#61 Next Greater Element 1
  DSA_CP/NextGreaterElement1.java
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#62 Create Guess_the_number.html
  Games_Tools/Guess.html
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Open Source for beginners, Game

#63 101. Symmetric Tree
  DSA_CP/SymmetricTree.java
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, Competitive programming, DSA, Open Source for beginners

#66 infix to postfix
  DSA_CP/infix_postfix.c
Labels: good first issue, hacktoberfest-accepted, hacktoberfest2023, hacktoberfest2023-accepted, hacktoberfest-approved, hacktoberfest2023-approved, hacktoberfest, DSA, Open Source for beginners
